@CHARSET "ISO-8859-1";
/*
File: style.css
Author: Jake Marshall
Site: Jake's Portfolio
Description: The site's style sheet
*/

body{
	background-color: #9999FF;
}
/*
-
Divs
-
*/
div{
	background-color: #FFFFFF;
}
#container {
	float: left
}

#header {
	float: left;
	width: 100%;
}

#content {
	float: left;
	width: 1000px;
	margin-left: 150px;
}

#footer {
	float: right;
}

#logo {
	width: 225px;
	float: left;
}

#nav {
	float: right;
	margin-top: 120px;
}

#text {
	width: 700px;
	float: left;
}

#work {
	width: 400px;
	text-align: center;
	float: left;
}

#socialMedia {
	width: 150px;
	float: left;
	margin: 60px 0 0 30px;
}

#selfImage {
	width: 146px;
	float: left;
	margin-right: 50px;
}
.project{
	width: 400px;
	height: 500px;
	margin: 0 50px 0 50px;
	float: left;
}

#contact{
	margin-left: 200px;
	width: 500px;
	float: left;
}

/*
-
Navbar appearance
-
*/
table {
	border-spacing: 20px 0;
}

td {
	text-align: center;
	font-weight: bold;
	height: 20px;
	width: 100px;
	height: 20px;
	border-style: solid;
	border-width: 1px;
}

.navCurrent {
	background-color: #FFFFFF;
	color: #FF2222;
}

.navLink {
	background-color: #FF2222;
	color: #FF2222;
}

.navLink a:link {
	color: #FFFFFF;
	text-decoration: none;
}

.navLink a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

/*
-
Content text
-
*/
#content h1 {
	text-align: center;
}

#content h2 {
	text-align: center;
}

#content p {
	font-size: 20px;
}

ul{
	text-alignment:center;
}

/*
-
Images
-
*/
#logo img {
	width: 225px;
	height: 150px;
}

#work img {
	width: 400px;
	height: 240px;
}

.project img {
	width: 400px;
	height: 240px;
}